.header-backimage {
  background-image: url("https://res.cloudinary.com/shareef031/image/upload/v1638284898/church-2608425_gxjmq9.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}
.header-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
/* .header-text.img{
    position: absolute;
    top: 50%;
left: 50%;
color: white;
transform: translate(-50%,-50%);
text-align: center;

} */
.header-icon {
  position: relative;
  text-align: top;
  top: 50px;
  left: 50%;
}
.header-text-1 {
  font-size: 50px;
}

.header-button {
  background-color: rgb(8, 8, 8);
  border: solid;
  border-radius: 50px;
  border-color: black;
  size: 60;
  color: white;
}
