* {
  padding: 0;
  margin: 0;
}
.header-backimage {
  background-image: url("https://res.cloudinary.com/shareef031/image/upload/v1638284898/church-2608425_gxjmq9.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}
.header-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.header-icon {
  position: relative;
  text-align: top;
  top: 50px;
  left: 50%;
}
.header-text-1 {
  font-size: 50px;
}

.header-button {
  background-color: rgb(8, 8, 8);
  border: solid;
  border-radius: 5px;
  border-color: black;
  size: 60;
  color: white;
}

.outer {
  font-family: "PT Serif", serif;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  align-content: center;
}
.box {
  font-family: "Roboto", sans-serif;
  float: left;
  width: 27%;
  margin: 20px;
  padding: 10px;
}
.heading {
  text-align: center;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}
#head {
  text-align: center;
}
.container {
  min-height: calc(100vh-58px-12vh);
}
footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  height: 10vh;
  color: white;
  text-align: center;
}
.footer-design {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fh-1 {
  text-align: left;
}
